*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
    user-select: none;
}

.navbar{
    height: 10vh;
    width: 100%;
    background-color: rgb(255, 75, 75);
    display: flex;
    align-items: center;
    padding: 0px 50px;
    color: white;
    font-size: 20px;
}

.heading{
    margin-left: auto;
}

.main{
    padding: 50px;
}

.inputCon{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    margin-bottom: 20px;
}

.inputCon input{
    width: 49%;
    border: 1px solid gray;
    text-indent: 20px;
    font-size: 20px;
    color: rgb(58, 58, 58);
}

.inputCon input:focus{
    outline: none;
}

.buttonCon{
    height: 10vh;
    width: 100%;
}

.buttonCon button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgb(255, 75, 75);
    color: white;
    border-radius: 3px;
    font-size: 20px;
}

.imgCon{
    height: 50vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.imgCon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.topText{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
}

.bottomText {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
}